/*CSS for Background Color*/
* {background-color: #333}

* {color: rgb(190, 91, 182)}

/*CSS for Parallax*/ 
body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url("image_library/background_image.png");

  /* Full height */
  height: 25%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*CSS for Header*/
.header {
  flex: 0 80px;
  background-color: #333;
  color: rgb(190, 91, 182);
  text-align: center;
  padding: 20px;
}

/*Username Holder*/
.username {
  text-align: right;
  padding: 10px;
  background-color: #333;
  color: rgb(190, 91, 182);
}

/*CSS for Navigation*/
/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: rgb(255, 142, 90);
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: black;
  background-color: rgb(255, 142, 90);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: rgb(190, 91, 182);
  color: black;
}

/*CSS for Main*/

main {
  flex:1 ;
  display: flex;
  flex-direction: column;
}

/*CSS for Footer*/

footer {
  flex: 0 30px;
  background-color: #333;
  text-align: center;
  color: rgb(190, 91, 182);
}

/*All that's below is for site buttons*/
.site_button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .site_button {
    padding: 19px 32px;
  }
}

.site_button:before,
.site_button:after {
  border-radius: 80px;
}

.site_button:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.site_button:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.site_button:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(190, 91, 182) 0%, rgb(255, 142, 90) 100%);
}

.site_button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.site_button:active:not(:disabled) {
  color: #ccc;
}

.site_button:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.site_button:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.site_button:disabled {
  cursor: default;
  opacity: .24;
}
/*Site button CSS done*/